/* essential components */

.nav {
  position:absolute;
  top: 0;
  z-index: 1;

}

.back {
  overflow: hidden;
  font-size: 1.5vw;
  padding-left: 30px;
  font-family: "IBM Plex Mono";
  color: #edf5ff;
}

.content-box {
  overflow-y: hidden;
  z-index: 0;
}

.inner {
  border-style: solid;
  padding: 50px;
  border-color: white;
}

.image {
  max-width:100%;
}

.content {
  font-size:1.0vw;
  font-family: "IBM Plex Mono";
  overflow-y: scroll;
  height: 100%;
}
/* 
.dawn1 {
  z-index: 10;
  clip-path: polygon(50% 50%, 50% 0, 50% 0);
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.mugshot {
  position: absolute;
}
.random {
  position: absolute;
}

a {
  color: #33b1ff;
}

.bio {
  height: 4rem;
  /* position: relative; */
}

.dusk1 {
  z-index: 9;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dawn2 {
  z-index: 8;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dusk2 {
  z-index: 7;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dawn3 {
  z-index: 6;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dusk3 {
  z-index: 5;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dusk4 {
  z-index: 4;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dawn5 {
  z-index: 2;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dawn4 {
  z-index: 3;
  max-width: 100%;
  max-height: 75vh;
  position:absolute;
  top: 0;
  display: none;
}

.dusk5 {
  z-index: 1;
  max-width: 100%;
  max-height: 75vh;
  position:relative;
  top: 0;
  display: none;
  text-align:center;
}

/* .center {
  text-align:center;
  position: relative;
  max-height: 90vh;
  max-width: 100%;
} */

.bx--row {
  margin-right: 0;
  margin-left: 0;
  height: 2rem;
}

.info {
  font-size:1.0vw;
  font-family: "IBM Plex Mono";
  overflow-y: scroll;
  height: 100%;
}

a {
  text-decoration:none;
}

body {
  /* background-color: #171414; */
  background-image: linear-gradient(rgba(146,146,146,1), rgba(0,118,186,1));
  height: 100vh;
  display:flex;
  flex-direction:column;
  overflow: hidden;
  margin: 0px;
  position:relative;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.info::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.info {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.anchor {
  display:flex;
  flex-direction:column;
  min-height: 100vh;

}

.item {
  max-height: 35vh;
  max-width: 25vh;
}

h3 {
  font-size:1.8vw;
  font-family: "IBM Plex Mono";
  color: white;
}

h1 {
  font-family: "IBM Plex Mono";
  font-size:1.7vw;
  color: #171414;
}

.number {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size:1.1vw;
}

.past {
  text-align: right;
  padding-right: 5px;
  flex: 1;
  font-family: "IBM Plex Mono";
  font-size:1.1vw;
}

figure {
    display: flex;
    flex-flow: column;
}

figcaption {
  color: white;
  font-weight: lighter;
  /* font-size: medium; */
  text-align: left;
}

.arrow {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size:1.3vw;
  color: #edf5ff;
}

.future {
  padding-left: 5px;
  flex: 1;
  font-family: "IBM Plex Mono";
  font-size:1.1vw;
}

.header {
  overflow: hidden;
  font-family: "IBM Plex Mono";
  color: #171414;
}

header {
  /* min-height:70px;
  margin-top:auto;
  padding-right: 30px; */
  text-align: left;
  font-family: "IBM Plex Mono";
}

/* header {
  height: 5vh;
} */


p1 {
  color: #edf5ff;
  text-align: left;
  display: inline-block;

}

/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
} */


footer {
  min-height:70px;
  margin-top:auto;
  padding-right: 1.0vw;
  text-align: right;
  font-family: "IBM Plex Mono";
  display:block;
}

.name {
  color: white;
  font-size: 1.0vw;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left:  0;
}

#tool {
  font-family: "IBM Plex Mono";
  color: #edf5ff;
  font-size:1.0vw;
  overflow: scroll;
  height: 75vh;
}

#tool::-webkit-scrollbar {
  display: none;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.x_axis line{
  stroke: #edf5ff;
}

.x_axis path{
  stroke: #edf5ff;
}

.x_axis text{
  stroke: #edf5ff;
  font-family: "IBM Plex Mono";
  font-size:1.0vw;
}

.y_axis line{
  stroke: #edf5ff;
}

.y_axis path{
  stroke: #edf5ff;
}

.y_axis text{
  stroke: #edf5ff;
  font-family: "IBM Plex Mono";
  font-size:1.0vw;
}

.right {
  right: 0;
}

.centerleft {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centerright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tile {
  shape-rendering: crispEdges;
}

.hours {
  display: flex;
  max-width: 100%
  justify-content: center;
  color: #edf5ff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.glow {
  color: #edf5ff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0043ce, 0 0 40px #0043ce, 0 0 50px #0043ce, 0 0 60px #0043ce, 0 0 70px #0043ce;
}

.p5Canvas {
  display: block;
  margin: auto;
} */
