
.dawn1 {
  /* position: absolute;
  top: 5%; */
  z-index: 4;
  clip-path: polygon(50% 50%, 50% 0, 50% 0);
  /* width: 10%; */
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* position: absolute;
  object-fit: contain; */
  max-width: 100%;
  max-height: 80vh;
  position:absolute;
  top: 0;

}

.random {
  position: absolute;
}

.dusk1 {
  /* position:absolute;
  top: 5%; */
  z-index: 3;
  /* top: 0; */
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* position: absolute;
  object-fit: contain; */
  max-width: 100%;
  max-height: 80vh;
  position:absolute;
  top: 0;

}

.dawn2 {
  /* position: absolute;
  top: 5%; */
  z-index: 2;
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* position: absolute;
  object-fit: contain; */
  max-width: 100%;
  max-height: 80vh;
  position:absolute;
  top: 0;

  /* object-fit:contain; */
}

.dusk2 {
  /* position:absolute;
  top: 5%; */
  z-index: 1;
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* position: absolute;
  object-fit: contain; */
  max-width: 100%;
  max-height: 80vh;

  /* object-fit:contain; */
  position:absolute;
  top: 0;
}

.dawn3 {
  /* position: absolute;
  top: 5%; */
  z-index: 2;
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* position: absolute;
  object-fit: contain; */
  max-width: 100%;
  max-height: 80vh;

  /* object-fit:contain; */
  position:absolute;
  top: 0;
}

.dusk3 {
  /* position:absolute;
  top: 5%; */
  z-index: 1;
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* position: absolute;
  object-fit: contain; */
  max-width: 100%;
  max-height: 80vh;
  /* object-fit:contain; */
  /* margin-left: auto;
  margin-right: auto; */
  /* position: absolute;
  text-align:center; */
  position:relative;
  top: 0;
}

.center {
  /* display: block; */
  /* width: 50vw; */
  /* max-width: 100%;
  width:50vmin;
  height:50vmin;
  margin-left: auto;
  margin-right: auto; */
  /* width: 95%;
  height: 95%;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* text-align: center; */
  /* width: 100%;
  height:100%; */
  /* margin-left: auto;
  margin-right: auto;
  display: block; */
  text-align:center;
  position: relative;
  max-height: 90vh;
  max-width: 100%;
  /* max-height: 80vh; */
  /* margin-left: 0; */ */
  /* margin-right: 0;
  /* display: block; */
  /* overflow: hidden; */
  /* object-fit:contain; */
  /* height: 200%; */
}

.bx--row {
  margin-right: 0;
  margin-left: 0;
}

.info {
  /* margin:auto; */
  /* width: 25%;
  margin: 1%; */
  font-size:1.0vw;
  font-family: "IBM Plex Mono"
  /* font-fafutmily: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; */

  /* left:30; */
   /* height: 1000px; */
}

a {
  text-decoration:none;
}

body {
  /* font-family: "IBM Plex Mono"; */
  background-color: #171414;
  /* font-family: "IBM Plex Mono" */

}

/* html, body {
  overflow: hidden;
} */
html, body {
  overflow: hidden;
  height:100%;
}

/* .content {
  height:100%;
} */

.twitch {
  max-height: 80vh;
  max-width: 100%;
}

.item {
  max-height: 35vh;
  max-width: 25vh;
}

/* h2 {
  color: #edf5ff
} */
h2 {
  /* width: 25%;
  margin: 1%; */
  font-size:1.8vw;

  font-family: "IBM Plex Mono";
  color: #edf5ff;

}

h1 {
  /* width: 25%;
  margin: 1%; */
  font-family: "IBM Plex Mono";
  font-size:1.7vw;
  color: #171414;
  /* color: #697077 */
}

/* .time {
  text-align: center;
  max-width: 100%;
  max-height:30vh;
} */



.number {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size:1.3vw;
  /* color: #edf5ff; */
}

.past {
  text-align: right;
  padding-right: 5px;
  flex: 1;
  font-family: "IBM Plex Mono";
  font-size:1.3vw;
  /* color: #edf5ff; */
}

.arrow {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size:1.3vw;
  color: #edf5ff;
  /* padding: 10px; */
}

.future {
  padding-left: 5px;
  flex: 1;
  font-family: "IBM Plex Mono";
  font-size:1.3vw;
  /* color: #edf5ff; */
}


/* .header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
} */

.header {
  /* margin: 1%; */
  overflow: hidden;
  font-family: "IBM Plex Mono";
  color: #171414;
}

p1 {
  color: #edf5ff;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red;
   color: white;
   text-align: center; */
}

/* future style  */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



.left {
  left:  0;
}

#tool {
  font-family: "IBM Plex Mono";
  color: #edf5ff;
  font-size:1.0vw;
  overflow: scroll;
  height: 80vh;

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.x_axis line{
  /* stroke: white; */
  stroke: #edf5ff;
}

.x_axis path{
  stroke: #edf5ff;
}

.x_axis text{
  stroke: #edf5ff;
  font-family: "IBM Plex Mono";
  font-size:1.0vw;
}

.y_axis line{
  /* stroke: white; */
  stroke: #edf5ff;
}

.y_axis path{
  stroke: #edf5ff;
}

.y_axis text{
  stroke: #edf5ff;
  font-family: "IBM Plex Mono";
  font-size:1.0vw;
}

/* #graph {
  position: absolute;
} */
.right {
  right: 0;
}

.centerleft {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centerright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}




.tile {
  shape-rendering: crispEdges;
}

.hours {
  display: flex;
  justify-content: center;
  color: #171414;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* future style end */
