* {
  box-sizing: border-box;
}

html { visibility:hidden; }

.flex-container {
  display: flex;
}

.flex-container > li {
  list-style-type: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: "IBM Plex Mono";
}

.fl {
  flex: 1;
  width:100%;
  margin-top:-1px;
  margin-bottom:-1px;
  border: 1px solid;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: solid;
  border-left-style: none;
 }

.work-link {
  border: 1px solid;
  margin-right: -1px;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: none;
  border-top-style: solid;
}

.bio-link:hover {
  text-decoration: underline;
}

.backdrop:hover > img {
  opacity: 100%;
  filter: grayscale(0%);
}

.bio-link {
  border: 1px solid;
  margin-bottom: -1px;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.none {
  border: 1px solid;
  margin-top:-1px;
  margin-bottom:-1px;
  margin-left:-1px;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 20px;
}

.column {
  float: left;
  width: 25%;
  display: table-cell;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.project {
  height: 100%;
}

.project:hover {
  text-decoration: underline;
  color:white;
}

img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  filter: grayscale(15%);
  opacity:85%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: center;
}

.backdrop {
  background-color:rgba(255, 255, 255, 0.1);
  /* padding: 10px; */
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  outline: rgba(255, 255, 255) solid 1px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 20px
}

.grid-item {
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .grid-item {
    /* padding: 10px; */
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
  .grid-item {
    padding: 15px;
  }
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 481px) {
  .grid-container {
    grid-template-columns: 100%;
  }
  .grid-item {
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 100%;
  }
}


a {
  text-decoration:none;
  color: white;
}

body {
  background-image: linear-gradient(rgba(123, 124, 126,1), rgba(123, 124, 126,1));
  /* background-size: cover; */
  padding: 10px;
}

html, body {
  min-height: 100%;
}

.name {
  color: white;
}

h3 {
  font-family: "IBM Plex Mono";
  color: #edf5ff;
}

h4 {
  font-family: "IBM Plex Mono";
  color: #edf5ff;
  font-weight: 400;
}

.unselect-tab {
  border: 1px solid;
  margin-bottom: -1px;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.unselect-tab:hover {
  text-decoration: underline;
  color: 100;
}

.backdrop:hover > img {
  opacity: 100%;
  filter: grayscale(0%);
}

.select-tab {
  border: 1px solid;
/*   margin-right: -1px;
  margin-left: -1px; */
  margin-top: -1px;
  margin-bottom: -1px;
    border-right-style: solid;
  border-left-style: solid;
    border-bottom-style: none;
    border-top-style: solid;
}

html {
    width: 100vw;
}
